$colors: (
  verde: (
    light:  #3FD155,
    normal: #2F9E41,
    dark: #1C5C27,
  ),
  cinza: (
    branco: hsl(0, 0%, 100%),
    cinza: #CCC,
    light: #999,
    normal: #666,
    dark: #333,
    preto: #141414,
  ),
  suporte: (
    azul: #134EB3,
    amarelo: #E6BF00,
    vermelho: #B0131B,
  ),
);
